<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        HES TestTask
    </title>
</head>
<body>
<header>
<div th:if="${userId}">
    <nav>
        <a href="home">Home</a>
        <a href="new">Add User</a>
        <a href="user">User List</a>
        <a href="logout">Log out</a>
    </nav>
</div>
<div th:unless="${userId}">
    <a href="home">Home</a>
    <a href="login">Login</a>
</div>
</header>
<p th:if="${message}" th:text="${{message}}"></p>
<h1>Add User</h1>
<form method="post">
    <input type="text" name="userName" placeholder="User Name*"/>
    <input type="password" name="password" placeholder="Password*"/>
    <select name="role">
        <option value="">Select Role</option>
        <option th:each="r : ${roleList}"
                th:value="${r.name}"
                th:text="${r.name}"></option>
    </select>
    <select name="status">
        <option value="">Select Status</option>
        <option th:each="s : ${statusList}"
                th:value="${s.name}"
                th:text="${s.name}"></option>
    </select>

    <input type="text" name="firstName" placeholder="First Name*"/>
    <input type="text" name="lastName" placeholder="Last Name*"/>
    <input type="submit" value="Add"/>
    <input type="button" onclick="location.href = 'home'" value="Cancel"/>
</form>
</body>
</html>